@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: #182def;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #182def;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dotted-grid-background {
  background-color: #f6f7ff;
  background-image: linear-gradient(#d6dbff 1px, transparent 0),
    linear-gradient(90deg, #d6dbff 1px, transparent 0);
  background-size: 25px 25px, 25px 25px;
  bottom: 0;
  -webkit-clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
  content: '';
  height: 100%;
  right: 0;
  width: 100%;
  z-index: 2;
}
