/* src/styles/pagination.css */

/* 让 Pagination 组件没有背景和边框 */
.ant-pagination-item {
  background: none !important;
  border: none !important;
  color: #000 !important; /* 自定义文字颜色 */
  font-size: 25px;
}

.ant-pagination .ant-pagination-item-active a {
  color: #ef4444; /* 设置选中页文字颜色 */
}
.ant-pagination .ant-pagination-item-active a:hover {
  color: #ef4444; /* 设置选中页文字颜色 */
}
/* .ant-pagination .ant-pagination-item{

  color: blue !important;
}
.ant-pagination .ant-pagination-item:hover {
  background-color: #f0f0f0 !important; 
  color: blue !important;
} */
