/* src/styles/pagination.css */

/* 让 Pagination 组件没有背景和边框 */
.ant-pagination-item {
  background: none !important;
  border: none !important;
}

.ant-pagination-item a {
  color: #000 !important; /* 自定义文字颜色 */
  font-size: 25px;
}

.dark .ant-pagination-item a {
  background: none !important;
  border: none !important;
  color: #ffffff !important; /* 自定义文字颜色 */
  font-size: 25px;
}

.dark .ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: #ffffff !important; 
}

.ant-pagination-item-active a {
  background: none !important;
  border: none !important;
  color: #ef4444 !important; /* 自定义文字颜色 */
  font-size: 25px;
}
.ant-pagination-item a:hover {
  background: none !important;
  border: none !important;
  color: #ef4444 !important; /* 自定义文字颜色 */
  font-size: 25px;
}
